@import 'normalize.styl';
/*Iconos*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-elzf09');
	src:url('../fonts/icomoon.eot?#iefix-elzf09') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-elzf09') format('truetype'),
		url('../fonts/icomoon.woff?-elzf09') format('woff'),
		url('../fonts/icomoon.svg?-elzf09#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e600";
}
.icon-heart:before {
	content: "\e604";
}
.icon-g-plus:before {
	content: "\e601";
}
.icon-fb:before {
	content: "\e602";
}
.icon-twitter:before {
	content: "\e603";
}
/*page definition*/
body{
	font-family: 'Roboto', tahoma;
	font-size: 16px;
	background-color: #F0F0F0;
	font-weight: 100;
}

header{
	background-color: white;
}

header:after{
	clear: both;
	content: "";
	display: block;
}

header h1{
	text-transform: uppercase;
	font-weight: 100;
	margin: 0;
	padding: 0.3em;
	float: left;
	line-height: 2em;
}

header h1 a{
	text-decoration: none;
	color: black;
}

header #menu-superior{
	float: right;
	font-size: 1rem;
	line-height: 2.5em;
}

header #menu-superior a{
	color: #2EC0C1;
	text-decoration: none;
	font-size: 1.5em;
}

header #menu-superior ul{
	display:none;
}

/*enviroment page*/

h2{
	text-transform: uppercase;
	margin-bottom: 0.5em;
	font-weight: 100;
	font-size: 2em;
}

.seccion{
	padding: 1em;
}

.seccion > h2{
	text-align: center;
	color: #323232;
	margin: 0;

}
.portafolio-job .job-container{
	margin: 0;
	padding: 0;
}

.portafolio-job .job-container > li{
	list-style: none;
	margin-bottom: 1em;
}

.portafolio-job .job figure{
	margin: 0;
	font-size: 0;
}

.portafolio-job .job figure img{
	width: 100%;
}

.portafolio-job .job .job-description{
	margin:0;
	padding: 0;
	font-size: 0;
}

.portafolio-job .job-container .job ul li{
	display: inline-block;
	list-style: none;
	font-size: 1rem;
  	vertical-align: top;
}

.portafolio-job .job-container .job .job-description li a{
	margin: 0;
	padding: 1em 0.5em;
	text-decoration: none;
	text-align: center;
	font-size: 1em;
	color:#FFFFFF;
	display: block;
	line-height: 2rem;
}

.favorite{
	padding: 0;
}

.portafolio-job .job .job-description .job-favorite .favorite span{
	display: block;
	line-height: 1rem;
}

.portafolio-job .job .job-description .job-title{
	background-color: #2EC0C1;
	width: 80%;
	font-weight: normal;
}

.portafolio-job .job .job-description .job-title h3{
	margin: 0;
	font-weight: normal;
	font-size: 1em;
}

.portafolio-job .job .job-description .job-favorite{
	background-color: #F87067;
	width: 20%;
}
/*descripcion del contenido*/
.descripcion{
	background-color: #2EC0C1;
}
.descripcion h2 {
	color: white;
	text-align: center;
	font-weight: 400;
	margin: 0;
}
.descripcion p {
	color: white;
	text-align: left;
	margin: 0;
}
/*aside*/
#menu-social ul{
	padding: 0;
	margin: 0;
	font-size: 0;
}

#menu-social ul li{
	text-align: center;
	font-size: 1rem;
}

#menu-social ul li a{
	color: white;
	display: block;
	padding: 1em;
	text-decoration: none;
}

#menu-social ul li span{
	font-size: 1.7em;
}

#menu-social .r-twitter > a{
	background-color: #00E4FF;
}

#menu-social .r-facebook > a{
	background-color: #464F6D;
}

#menu-social .r-gplus > a{
	background-color: #D71B5F;
}

/*formulario*/
.contacto h2 {
	text-align: center;
	font-weight: 400;
}
.contacto input{
	width: 100%;
	margin-bottom: 0.5em;
}
.contacto textarea{
	width: 100%;
	height: 250px;
}
.contacto button{
	width: 100%;
	margin: 0;
	padding: 0.5em;
	background-color: #464F6D;
	text-align: center;
	color: white;
	text-transform: uppercase;
	border-radius: 0.3em;
}
/*firma*/
footer{
	background-color: #323232;
	clear: both;
}
footer p{
	color: white;
	text-align: center;
	margin: 0;
}
/* media query */
@media only screen and (min-width: 40.625em){
	#menu-social ul li {
		display: inline-block;
		width: 33.33%;
	}
	/*resetear los estilos*/
	.portafolio-job .job-container{
		font-size: 0;
		display: block;
	}
	/* desplegar vista*/
	.portafolio-job .job-container > li{
		width: 50%;
		display: inline-block;
		font-size: 1rem;
	}
	/*por cada article*/
	.portafolio-job .job{
		margin: 1em;
	}
}

@media only screen and (min-width: 47.5em){
	.contenedor{
		max-width: 60em;
		margin: 0 auto;
	}

	.portafolio-job .job-container ul{
		font-size: 0;
	}
	.portafolio-job .job-container > li{
		width: 33.33%;
		font-size: 1rem;
	}

	.formulario button{
		width: 20%;
		float: right;
		margin: 0.5em 0;
	}
}

@media only screen and (min-width: 56em){
	header #menu-superior > a{
		display: none;
	}

	header #menu-superior ul{
		display:block;
		margin: 0;
		padding: 0;
	}

	header #menu-superior ul li{
		display: inline-block;
		text-transform: uppercase;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	header #menu-superior ul li a{
		text-decoration: none;
		display: block;
		color: black;
		padding: 1em;
	}

	header #menu-superior ul li a:hover{
		background-color: #2EC0C1;
		color: white;
	}
}
